version: '3.3'
services:
  db:
    container_name: database
    image: mysql
    restart: always
    environment:
      MYSQL_DATABASE: 'rodrent'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'root'
      MYSQL_ROOT_PASSWORD: 'root'
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - my-db:/var/lib/mysql
volumes:
  my-db: